@model RobotnaFinalPro.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaetDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaetDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaetTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaetTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Venu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venu.VenuName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
